<app-with-side-panel-layout>
  <h1 header>SKU'S</h1>

  <mat-accordion sidenav>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Create SKU</mat-panel-title>
      </mat-expansion-panel-header>
      <app-sku-input-data></app-sku-input-data>
    </mat-expansion-panel>
  </mat-accordion>

  <table mat-table content [dataSource]="skus$ | async">
    <app-simple-schema-column
      *ngFor="let column of columnSchema"
      [column]="column"
    ></app-simple-schema-column>

    <!--
          <ng-container matColumnDef="bt-details">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let sku">
              <button mat-raised-button color="primary" [routerLink]="['../sku', sku.id]" routerLinkActive="active">
                Details
              </button>
            </td>
          </ng-container>
-->

    <ng-container matColumnDef="bt-remove">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let sku">
        <button mat-raised-button (click)="removeSku(sku)">
          Remove
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</app-with-side-panel-layout>
