<div class="main">

  <div class="header">
    <mat-toolbar color="primary" *ngIf="isUserLogged$ | async">
      <mat-toolbar-row>
        <span class="header-message">Welcome {{ userName$ | async }}!</span>
        <nav mat-tab-nav-bar backgroundColor="primary">
          <a mat-tab-link routerLink="/order" routerLinkActive="active" #ordersLinkActive="routerLinkActive"
            [active]="ordersLinkActive.isActive">Orders</a>
          <a mat-tab-link routerLink="/sku" routerLinkActive="active" #skuLinkActive="routerLinkActive"
            [active]="skuLinkActive.isActive">SKU</a>
          <a mat-tab-link routerLink="/location" routerLinkActive="active" #locationLinkActive="routerLinkActive"
            [active]="locationLinkActive.isActive">Location</a>
        </nav>
        <span class="spacer"></span>
        <button mat-raised-button routerLink="/login" routerLinkActive="active" (click)="logout()">
          Logout
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>