:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("~/assets/login-background.png");
}

.login-page {
  width: 15rem;
}

.login-form {
  display: flex;  flex-direction: column;
}

.mat-card-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
