<app-with-side-panel-layout>
  <h1 header>Locations</h1>

  <mat-accordion sidenav>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Create Location</mat-panel-title>
      </mat-expansion-panel-header>
      <app-location-input></app-location-input>
    </mat-expansion-panel>
  </mat-accordion>

  <table mat-table content [dataSource]="locations$ | async">
    <app-simple-schema-column
      *ngFor="let column of columnSchema"
      [column]="column"
    ></app-simple-schema-column>

    <ng-container matColumnDef="bt-details">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let location">
        <button
          mat-raised-button
          color="primary"
          [routerLink]="['../location', location.id]"
          routerLinkActive="active"
        >
          Details
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</app-with-side-panel-layout>
