<h2 class="mat-h2" mat-dialog-title>Change password</h2>
<div mat-dialog-content>
  <form [formGroup]="form" class="details-form">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Repeat password</mat-label>
      <input matInput type="password" formControlName="repeatPassword">
    </mat-form-field>
  </form>
  <mat-error *ngIf="error">{{error}}</mat-error>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()" cdkFocusInitial>Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="form.value.password" [disabled]="!form.valid">
    Change
  </button>
</div>
