<app-with-side-panel-layout>
  <h2 class="mat-h2" header>Location {{ locationId }} Details</h2>

  <div sidenav class="side-nav">
    <button mat-raised-button color="primary" routerLink="../" routerLinkActive="active">
      Back
    </button>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Create Container</mat-panel-title>
        </mat-expansion-panel-header>
        <app-container-input [locationId]="locationId"></app-container-input>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <table mat-table content [dataSource]="containers$ | async">

    <app-simple-schema-column
      *ngFor="let column of columnSchema"
      [column]="column"
    ></app-simple-schema-column>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

  </table>
</app-with-side-panel-layout>
