<app-layout>

  <h1 header>Orders</h1>

  <mat-accordion sidenav>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Create order</mat-panel-title>
      </mat-expansion-panel-header>
      <app-order-input-data></app-order-input-data>
    </mat-expansion-panel>
  </mat-accordion>

  <table mat-table content [dataSource]="orders$ | async" [trackBy]="trackById">

    <ng-container [matColumnDef]="column.param" *ngFor="let column of columnSchema">
      <th mat-header-cell *matHeaderCellDef> {{ column.name }} </th>
      <td mat-cell *matCellDef="let element"> {{ element[column.param] }} </td>
    </ng-container>

    <ng-container matColumnDef="bt-actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let order">
        <button mat-raised-button color="primary" [routerLink]="['../order', order.id]" routerLinkActive="active">
          Details
        </button>
        <button mat-raised-button (click)="removeOrder(order)" [disabled]="isDisabled(order)">
          Remove
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</app-layout>