<app-layout>
    <div header class="header">
        <h1>Pick task {{ pickListId }}</h1>
        <span class="spacer"></span>
        <button mat-raised-button color="primary" routerLink="../">Back</button>
    </div>

    <table content mat-table [dataSource]="moveTasks$ | async">
        <ng-container [matColumnDef]="column.param" *ngFor="let column of columnSchema">
            <th mat-header-cell *matHeaderCellDef> {{ column.name }} </th>
            <td mat-cell *matCellDef="let element"> {{ element[column.param] }} </td>
        </ng-container>

        <ng-container matColumnDef="bt-actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" [disabled]="isDisabled(element)"
                    (click)="changeState(element)">
                    {{ getButtonName(element) }}
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</app-layout>