<button mat-raised-button routerLink="/order" routerLinkActive="active">Back</button>
<p>Order id: {{ (order$| async)?.id }}</p>
<p>Order name: {{ (order$| async)?.name }}</p>
<p>Order status: {{ (order$| async)?.status }}</p>
<button mat-raised-button (click)="releaseOrder()">Release</button>
<app-order-input-details [orderId]="(order$| async)?.id"></app-order-input-details>
<ul>
    <li *ngFor="let orderLine of orderLines$ | async;">
        <app-order-line-details [orderLine]="orderLine"></app-order-line-details>
    </li>
</ul>