<span>Id:{{ orderLine.id }} </span>
<span>Qty:{{ orderLine.qty }} </span>
<span>Item:{{ orderLine.sku.name }} </span>
<button mat-raised-button (click)="remove.next(orderLine)">Remove</button>


<!-- <table mat-table content [dataSource]="skus$ | async">

    <ng-container [matColumnDef]="column.param" *ngFor="let column of columnSchema">
      <th mat-header-cell *matHeaderCellDef> {{ column.name }} </th>
      <td mat-cell *matCellDef="let element"> {{ element[column.param] }} </td>
    </ng-container>

    <ng-container matColumnDef="bt-details">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let sku">
        <button mat-raised-button color="primary" [routerLink]="['/sku', sku.id]" routerLinkActive="active">
          Details
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="bt-remove">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let sku">
        <button mat-raised-button (click)="removeSku(sku)">
          Remove
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table> -->